<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GroupName</key>
	<string>_plex</string>
	<key>InitGroups</key>
	<false/>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>Label</key>
	<string>com.boot2plex.plexserverd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Plex Media Server.app/Contents/MacOS/Plex Media Server</string>
	</array>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>RunAtLoad</key>
	<true/>
	<key>Sockets</key>
	<dict>
		<key>sock1</key>
		<array>
			<dict/>
		</array>
	</dict>
	<key>StandardErrorPath</key>
	<string>/var/log/services/daemons/com.boot2plex.plexserverd.err</string>
	<key>StandardOutPath</key>
	<string>/var/log/services/daemons/com.boot2plex.plexserverd.out</string>
	<key>UserName</key>
	<string>_plex</string>
</dict>
</plist>
